/* Fuestes y tipografias de Texto */
@font-face {
    font-family: "Hacked";
    src: url('font/HACKED.ttf');
}
@font-face {
    font-family: "Pixel";
    src: url('font/PixelOperatorMono.ttf'), url('font/PixelOperatorMono-Bold.ttf');
}
/* ------------------------------ */

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

#encabezado {
    background-color: rgb(245, 250, 252);
    padding-top: 30px;
    margin-top: 2.5%; margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 0%;

    .centrado{
        position: relative;
        width: 100%;
        margin: 0 auto; /* Centrar horizontalmente */

        img {
            opacity: 1; /* Valor entre 0 y 1 */
            border-radius:0%;
            position: relative;
            height: ;"100%";
        }

        h1 {
            position: absolute; top: 25%; left: 18%;
            font-family: "Hacked", oswald;
            font-size: 10vw;
            font-weight:normal;
            color: rgb(255, 255, 255);
            background-color: rgb(0,0,0);
            padding-left: 1%; padding-rigth: 1%;
        }
    }

}

#cuerpo {
    background-color: rgb(20, 20, 20);

    #fondo{
        background-color: black;
        padding-top: 0%;
        margin-left: 2.5%; margin-right: 2.5%;
        position: relative;

        h1 {
            text-align: center;
            background-color: rgb(18, 207, 254);
            color: black;
            font-size: 5vw;
            font-family: "Pixel", oswald;
            position: absolute;
            display: inline-block;

            .title {
                background-color: white;
                color: black;
                font-family: "Pixel", oswald;
                display: inline-block;
            }
        }

        pre {
            font-size: 1vw;
            position: absolute; top: 2%;
            font-family: "Pixel", oswald;
            padding-top: 0%; padding-bottom: 0%;
            margin-top: 0%; margin-bottom: 0%;
            color: rgba(255, 255, 255, 0.255);
        }

        img {
            position: relative; left: 50%; top: 0px;
            opacity: 15%;
        }

        
    }

    #trancision-1 {
        background-color: rgb(18, 207, 254);
        padding-top: 0%;
        margin-left: 2.5%; margin-right: 2.5%;
        position: relative;
    }

    #trancision-2 {
        height: 500px;
        background-image: url("img/blue_pixelgradient.png");
        background-repeat: repeat-x; /* Repetir solo en el eje horizontal */
        padding-top: 0%;
        margin-left: 2.5%; margin-right: 2.5%; margin-top: 0%;
        position: relative;
    }

    p {
        font-family: "Pixel", oswald;
        padding-top: 0%; padding-bottom: 0%;
        margin-top: 0%; margin-bottom: 0%;
    }

}
